@import'./src/styles/_themes.scss';

.comment-box{
    text-align: center;
    // background-color: lightblue;
    margin-top: 25px;
    margin-bottom: 21px;
}

.q4-page-count{
    margin-top: 141px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}