$thm-grey: lightgray;

.card{
    height: flex;
    width: flex;
    // margin-left: auto;
    // margin-right: auto;
    // display: flex;
    background-color: white;
}

.question {
    display: inline-block;
    text-align: center;
    width: 100%;
}