@import'./src/styles/_themes.scss';


.review-card{
    height: 450px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 12px 0.5rem rgba(0,0,0,0.5);
}

.response-review-top {
    text-align: center;
    // background-color: lightblue;
    margin-top: 70px;
    // margin-bottom: 30px;
}

.response-review {
    text-align: center;
    // background-color: lightblue;
    margin-top: 20px;
    // margin-bottom: 30px;
}

.comment-response-review{
    text-align: center;
    
}

.comment-text{
    font-style: italic;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

