@import'./src/styles/_themes.scss';


.header{
    background-color: $thm-grey;
    width: 100%;
    height: 160px;
}

.header-img{
    margin-top: 5px;
    padding: 10px;
    float: left;
}

.title-logo{
    display: inline-block;
    text-align: center;
    width: 100%;
}

.header-title{
    margin-top: 30px;
}


[data-theme='compact'] .site-navigation-steps,
.site-navigation-steps {
  margin-bottom: 60px;
  box-shadow: 0px -1px 0 0 #e8e8e8 inset;
}